<div class="login">
    <form class="d-b ta-c">
        <div class="form-line ta-l p-r">
            <span class="icon account va-t d-ib"></span>
            <input type="text" placeholder="输入手机号">
        </div>
        <div class="form-line ta-l p-r">
            <span class="icon lock va-t d-ib"></span>
            <input type="password" placeholder="输入密码">
        </div>
        <button class="d-b login-btn">登录</button>
        <button class="d-b register-btn">注册</button>
    </form>
</div>
